<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
<table>

<h1>Edit Information:</h1>
<!--FORM-->
<form method="post" action="/landmarks/<%= @landmark.id %>/edit">
    <!--Landmark Name-->
    Name: <input type="text" id="name" name="landmark[name]"><br><br>
    Name: <input type="text" id="year_completed" name="landmark[year_completed]"><br><br>

    <!--Submit Button-->
    <br><br><input type="submit" value="Edit Landmark">
</form>