<h1>Create New Landmark:</h1>

<!--FORM-->
<form method="post" action="/landmarks">
    <!--Landmark Name-->
    Name: <input type="text" id="landmark_name" name="landmark[name]"><br><br>
    Name: <input type="text" id="landmark_year_completed" name="landmark[year_completed]"><br><br>

    <!--Submit Button-->
    <br><br><input type="submit" value="Create New Landmark">
</form>